<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bar.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @bar.content %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @bar.picture %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @bar.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @bar.longitude %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bar.description %>
</p>

<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>
