<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @food.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @food.content %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @food.picture %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @food.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @food.longitude %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food.description %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
